language: cpp
compiler: gcc
sudo: require
dist: trusty

before_install:
    - sudo add-apt-repository ppa:beineri/opt-qt58-trusty -y
    - sudo apt-get update -qq
    
install: 
    - sudo apt-get -y install qt58base
    - source /opt/qt58/bin/qt58-env.sh

script:
  - qmake PREFIX=/usr
  - make -j4
  - make INSTALL_ROOT=appdir install ; cd appdir ; find .
  - cp ./usr/share/icons/r_dsremote.png .
  - cp ./usr/share/applications/dsremote.desktop .
  - cd .. 
  - wget -c "https://github.com/probonopd/linuxdeployqt/releases/download/3/linuxdeployqt-3-x86_64.AppImage" 
  - chmod a+x linuxdeployqt*.AppImage
  - unset QTDIR; unset QT_PLUGIN_PATH ; unset LD_LIBRARY_PATH
  - ./linuxdeployqt*.AppImage ./appdir/usr/bin/dsremote -bundle-non-qt-libs
  - ./linuxdeployqt*.AppImage ./appdir/usr/bin/dsremote -appimage 
  - curl --upload-file ./DSRemote-*.AppImage https://transfer.sh/DSRemote-git$(git rev-parse --short HEAD)-x86_64.AppImage 
